body {
            padding-top: 80px;
            background-color:white;
        }
        #trailer .modal-dialog {
            margin-top: 200px;
            width: 640px;
            height: 480px;
        }
        .hanging-close {
            position: absolute;
            top: -12px;
            right: -12px;
            z-index: 9001;
        }
        #trailer-video {
            width: 100%;
            height: 100%;
        }
        .movie-tile {
            margin-bottom: 20px;
            padding-top: 50px;


        }
        .love{
        color:blue;

        }

        .movie-tile:hover {

            cursor: pointer;
        }
        .scale-media {
            padding-bottom: 56.25%;
            position: relative;
        }
        .scale-media iframe {
            border: none;
            height: 100%;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            background-color:white;
        }
        .storyline
        {
        font-size:20px;
        color:#180000;
        
        }
       h4
        {
        padding:50 0 0 50;
        font-family: 'Shadows Into Light', cursive;
        font-size:40px;

          }

        footer .content
        {
        padding-top: 22px;
       padding-bottom: 22px;
       text-align:center;
}
        .caption
        {
        text-align:center;
        color:skyblue;
        font-family: 'Dosis', sans-serif;
        }
        .poster
        {
        border-radius:5px;

        }
        .tv-section
        {
        margin-left:50px;

        }
.cinema-section
{
margin:-580 330 50 0;
padding-right:10px;
float:right;
position:relative;
}


#container { overflow: hidden;
margin:-520 10 0 10 ;}
.hitman
{ padding-top:-30px; }

#floated-imgs { float: right;}
#floated-imgs img {display: block; }

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}


